.card-front{
    position: absolute;
    width: 24.8rem;
    height: 13.6rem;
    background-image: url('/images/bg-card-front.png');
    border-radius: 15px;
    padding: 2rem;
    box-sizing: border-box;
    top: 5rem;
    left: 5rem;
    letter-spacing: 2px;
}

.cont-circle{
    width: 4rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.circle1{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
}

.circle2{
    height: 20px;
    width: 20px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section > h1{
    font-size: 27px;
    color: white;
    line-height: 0.5;
}

section > h2{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}