#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image{
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width:1000px) {
  .App{
    flex-direction: column;
  }
  .image{
    height: 35vh;
  }
}